.gradle/
.kotlin/
build/
out/
*.class

.idea/
*.iml
*.ipr
*.iws

node_modules/
/slidedev/dist/
/slidedev/.slidev/
/slidedev/slides-export.pdf
/slidedev/slides-export.pptx
/slidedev/slides-export/

/*.zip
*.log
.DS_Store
._*
Thumbs.db
